<div class="col-md-6">
  <div class="section1">
    <div class="checkbox">
      <div class=" col-lg-3">
        <label>
          <%= f.check_box :giveaway, :as => :boolean, :label => false, :inline_label => true %> Χαρίζεται
         </label>
      </div>
      <div class=" col-lg-3">
        <label>
          <%= f.check_box :trade, :as => :boolean, :label => false, :inline_label => true %> Ανταλλαγή
         </label>
      </div>
      <div class=" col-lg-3">
        <label>
          <%= f.check_box :sell, :as => :boolean, :label => false, :inline_label => true %> Πώληση
         </label>
      </div>
      <div class=" col-lg-3">
        <label>
          <%= f.check_box :askingfor, :as => :boolean, :label => false, :inline_label => true %> Ζήτηση
        </label>
      </div>
    </div>
  </div>
</div>
<!--
<div class="col-md-6 visible-lg">

  <h3 class="dark-grey">Τύπος αγγελίας</h3>

  <div class="content">

  </div>  
</div>

-->