<div class="section3">
  <div class="form-group col-lg-6">
    <hr>
    <h3 class="dark-grey">Φωτογραφίες</h3>
    <% if @classified.photos.exists? %>
      <% @classified.photos.each do |z| %>
        <div class="classifiedimage">
          <% if !z.image_file_size.nil? %>
            <%= image_tag z.image , class: "showimage" %>
            <%= link_to "Delete Photo",photo_path(z), :method => :delete  , remote: true , class: "photo_delete"%>
          <%else%>
            <p>
              Προσθέστε μια φωτογραφία στην Αγγελία σας!
            </p>
          <%end%>
        </div>
      <%end%>
    <%end%>
    <div class="control-group">
      <%= f.label :photos, :class => 'control-label' %>
      <div class="controls">
        <%= file_field_tag "images[]", type: :file, multiple: true  %>
      </div>
    </div>
  </div>
</div>
