<div class="col-md-6">
  <div class="section1">
    <div class="form-group col-lg-3">
      <label>Χαρίζεται</label>
      <%= f.check_box :giveaway %>
    </div>
    <div class="form-group col-lg-3">
      <label>Ανταλλαγή</label>
      <%= f.check_box :trade %>
    </div>
    <div class="form-group col-lg-3">
      <label>Πώληση</label>
      <%= f.check_box :sell %>
    </div>
  </div>
</div>
<!--
<div class="col-md-6 visible-lg">

  <h3 class="dark-grey">Τύπος αγγελίας</h3>

  <div class="content">

  </div>  
</div>

-->