/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




 /* body */
 @import url(https://fonts.googleapis.com/css?family=Roboto:100,500,300,700&subset=greek,latin);



 body {
  font-family: 'Roboto' !important;
    /*background: url("brokerback.png"); 
    background-position: 50% 50%;
    background-repeat: no-repeat;*/



  }




  /* header */

  .header {
    font-weight: 100;   
    margin-bottom:-20px;
    padding:0;
    height: auto;
    width : 100%;
    font-size: 17px;

  }



  .header .navbar {
    padding-top:20px;
    padding-bottom:25px;
    
    background-image: url('pedals.jpg') !important;
    background-size:cover;
    background-position: center;
    
    border-color: transparent;


  }




  .header .container-fluid{
    padding-top: 12px;
    background: rgba(250,250,250,0.95 );
    border:1px solid #ffffff;
    border-radius : 5px;
    width: 90%;
  }


  .header .navbar .navbar-default .navbar-collapse {

    border : none !important;


  }


  .header .navbar-right {

    color : #000 !important;
  }


  .header .navbar-brand {
    padding-left:30px;
    font-size : 30px !important;
    color : #FF1400 !important;
  }



  .header .navbar-default li{
    padding:0 15px 0 15px;   

  }



  .header .form-control {

    /*border: 1px  solid;*/
    height:auto;
    font-size: 17px;

  }


  .header .navbar-form .btn-default {
    font-weight: 300 ;
    border :none !important;
    
  }


  .header .navbar-form .btn-default:hover {
    background-color: transparent;
    color :red;
  }

  .header .navbar-form .btn-default:click {
    background-color: transparent;
  }



  .signupbtn {
    color : #000 !important;
    font-weight: 300;
    border : 1px solid #646464 !important;
    border-radius: 5px;

  }

  .highlight {

    color : #000 !important;
    font-weight: 300;
  }

  /* supporting - categories */

  .supporting {
   /* border-bottom : 1px solid #E7E7E7;*/
   font-weight: 300;
   background-color: #F8F8F8;
   width:100%;
   /*border: 1px solid red;*/
 }





 .supporting .navbar-default {

  max-height: 40px;
  width:auto;
  background-color: #F8F8F8 !important;
  text-align: center;
  color : #000000 !important;

}



.supporting .navbar-default > li {
  color : #000 !important;  
  display : inline-block ;
  margin:0 -20px 0 0;
  padding:0;
  float:none ;
  font-size: 14px;

}



.supporting .navbar-default a {
 color : #000000; 
}


.supporting .navbar-default a:hover {
 background-color:transparent;
 text-decoration: underline;

}

.supporting .navbar-default a:click {
 background-color:transparent;
}

.supporting .navbar-default a:visited {
 background-color:transparent;
}


.supporting .navbar-default a:link {
 background-color:transparent;
}




/* supporting - categories */
/* supporting - drop down menus */

.supporting .dropdown-menu a{
  font-weight: 300 !important;
}








/* footer */

.footer .container {
  margin-top:500px;
  width:100%;
  height :100px;
  background-color: #222222; 
  text-align: center;
  color:#ffffff;
}


.footer p {
 font-size: 50px;
 font-weight:100;

}

textarea { resize:vertical ; }






/* INDEX STYLE */

/* {margin: 0; padding: 0;}*/





.center-div
{
 margin: 0 auto;
 max-width: 700px;     
}


.indexbox {
  margin-top : 80px;

}



.indexbox .mediabox {
  border:1px solid #f9f9f9;
  padding:10px 0 5px 0;
  margin-top:5px;

}


.center-div ul{
  list-style: none;
  /*border: 1px solid #e0e0e0;*/
}

.media{
  margin-top:20px;

  /*border: 1px solid #e0e0e0;*/

}


.mediabox {
  color :#313131;
  padding:15px;
  border: 1px solid #e0e0e0;
}


#index ul {
 /* border:1px solid #000;*/
 margin : 30px;
 list-style-type: none;
 width: auto;
}

#image img {
  width:100%;
  height:100%;
}


.mediabox h5 {
  font-weight: 300;
}

.media-body {
  font-size: 12px;
}

#index li img {
  float: left;
  /*margin: 0 15px 0 0;*/
}

#index li p {
  color:#333333;
}

#index li {
  padding: 15px 0 15px 0;
  height : 150px;
  width :auto;
  overflow: auto;
}


#index .mediabox:hover {
  background: #f9f9f9;
  cursor: pointer;
  text-decoration: none;
  /*border : 1px solid #333333;*/

}

#index .link:hover {
  text-decoration: none !important;


}


#index a:visited {
  text-decoration: none;
}
#index a:click {
  text-decoration: none;
}
#index a:active {
  text-decoration: none;
}

#index img {

  margin: 0 15px 0 15px;
  height :80px;
  width :100px;
}

#index .media {

  /*border:1px solid red;*/

}

#index .col-md-6  {
  height :auto;
  width :auto;

  /*border : 1px solid blue;*/
}

#index p {


}

.price {
  padding:10px;
  float:right;
}

.price h3 {
  color :red;
  font-weight: 100;
}




/* PROFILE NAV TAB */


.nav-tabs {

  margin-top:100px;
  padding:0;
}


.tab-content {

 /*margin-top:50px; */
 padding:50px 0 50px 0;
}




/* classified */
.classified{
  margin-top: 50px;
  width: 100%;

}

.row  {

  width: auto;
}

#gearview {
  margin-top:50px;
}


.col-lg-12
{
  /* border: 1px solid red;*/
  width: 100%;
  overflow: hidden; 
  padding: 0;
  margin: 0;
}


.image {
  height: 450px;
  display: inline-block; 
  vertical-align: middle; 

}

.image img {

  /*padding:0;*/
  height: auto;

  max-width:100%;
}



.description {
  width: auto;
  padding: 30px;
  
  height: auto;

}



.details {
  width: auto;
  padding: 30px;
  
  height: auto;

}



/* CLASSIFIED CREATION */

.col-md-6 .section2 {
  padding-top:50px !important;
}














/*MEDIA QUERIES*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .supporting .navbar-default {    
    white-space: nowrap;
    overflow-x: auto;
    overflow-y:hidden;    
  }


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
 .header .navbar-form {
  padding : 5px 30px 20px 30px !important;
  border:transparent !important;
  box-shadow: none !important;
}

.header .navbar-collapse{
  border: transparent !important;
}

.header .navbar-nav ul{
  border:transparent !important;
}

.supporting .navbar-default {    
  white-space: nowrap;
  overflow-x: auto;
  overflow-y:hidden;    
}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
 .header .navbar-form {
  padding : 5px 30px 20px 30px !important;
  border:transparent !important;
}

.header .collapse{
  border: transparent !important;
}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}