 <div class="container-fluid" id="commerce">
      <div class="center-div" id="commerce2">
        <div class="row" id="commercerow">
          <div class="col-md-6 col-md-4">
            <div class="thumbnail">
              <%= image_tag("__synth.jpg", :alt => "rss feed") %>
              <div class="caption">
                <h3>Vintage Synths!</h3>
                <p>asd sd asgjasl kgalsjg laskjg laksjg laksj glaksj glaksj glkajs glkasj glkasj glkasj glkasj glkasj glkaj sglkajs glkajs glkasj glkasj glkajs glaksj glaskjg laskjg laskjg alksgj </p>
                <p>
                  <!--<a href="#" class="btn btn-primary" role="button">Button</a>-->
                  <a href="#" class="btn btn-default" role="button">Button</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>s